html {
  box-sizing: border-box;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

.body{
  font-family: "PTSans-Regular", sans-serif;
  overflow-x: hidden;

}
img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;

  &:focus{
    outline: 2px solid var(--color-TuftsBlue);
  }
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.button-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

}

.button{

  &:focus{
    outline: 2px solid var(--color-TuftsBlue);
  }

}
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}


.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 5px;
  max-width: 1170px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.grid{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap: 28px;

  @include big-tablet{
    grid-template-columns: repeat(10,1fr);
  }
  @include tablet{
    grid-template-columns: repeat(6,1fr);
  }
  @include mobile{
    grid-template-columns: repeat(5,1fr);
  }
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.title{
  padding: 0;
  margin: 0;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 39px;
  margin-bottom: 20px;
}

.custom__check{

  &:before{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    background-color: transparent;
    vertical-align: middle;
    margin-right: 5px;
    transition: all 0.3s ease-in-out;

  }
}



.form-modal{

  &__title{
    font-family: "OpenSans-Bold", sans-serif;
    text-align: center;
  }

  &__content{

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__label{
    margin-bottom: 20px;
  }

  &__button{
    padding: 18px 20px;
    color: var(--color-darkBlue);
    border: 1px solid var(--color-darkBlue);
    transition: all 0.3s ease-in-out;

    &:hover{
      background-color: var(--color-darkBlue);
      color: #fff;
    }

  }
  &__input{
    &:focus{
      border: 1px solid var(--color-TuftsBlue);
      outline: 1px solid var(--color-TuftsBlue);
    }
  }
}

.overlay{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  right: 0;
  z-index: 999;
  background-color: rgba(0,0,0,0.7);
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
   transition: all 0.3s ease-in-out;

   &--visible{
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
   }
}

.modal{

  background-color: #fff;
  padding: 20px;
  width: 400px;
  height: 350px;
  border-radius: 10px;
  margin: 0 auto;

  @include flex-all-center;


}


.nav-main{


  &__list{
    display: flex;
    justify-content: space-between;
    margin-left: -84px;
  }

  &__item{

    &:not(:last-child){
      margin-right: 34px;

    }
  }

  &__link{
    transition: color 0.3s ease-in-out;
    &:hover{
      color: var(--color-TuftsBlue);
    }
  }
}

.logo{
  width: 100px;
  height: 23px;
}

.category{
  display: inline-block;
  padding: 0px 12px 1px;
  background-color: var(--color-TuftsBlue);
  border-radius: 3px;


  &__text{
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}

.article-meta{
  padding-left: 20px;
  padding-bottom: 30px;
  padding-right: 85px;

  color: #fff;

  &__top{
    font-size: 14px;
    margin-bottom: 5px;
  }

  &__author{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    &:after{
      content: ' - ';
    }

    &:hover{
      color: var(--color-TuftsBlue) ;
    }
  }


  &__title{
    margin: 0;
    padding: 0;
    font-family: "PTSans-Bold", sans-serif;
    font-size: 20px;
    line-height: 30px;
    transition: color 0.3s ease-in-out;

    &:hover{
      color: var(--color-TuftsBlue);
    }


  }

  &__description{

    margin: 0;
    padding: 0;
    color: #666666;
  }



}

.button-main{
  display: block;
  text-align: center;
  padding: 0 43px;
  width: 100%;
  padding-bottom: 17px;
  padding-top: 15px;
  color: #fff;
  background-color: var(--color-mostlyBlack);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  font-family: "PTSans-Bold", sans-serif;
  border-radius: 3px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover{
    color: var(--color-TuftsBlue);
    background-color: #0a0a0a;

  }

  &--instagram{
    position: relative;
    &:hover{

        .article-instagram__icon{
          fill: var(--color-TuftsBlue);
        }
      }


  }
}

.form{

  &-field{



    &__input{
      width: 100%;
      padding-left: 15px;
      padding-bottom: 15px;
      padding-top: 17px;
      border-radius: 3px;
      border: 1px solid #E5E5E5;
      margin-bottom: 10px;
 

      &--dark{
        background-color: #373737;
        border: none ;
        color: #AEB3BB;
      }
    }
  }
}

.social{

  &__list{
    display: flex;
    justify-content: space-between;
  }

  &__icon{
    width: 34px;
    height: 34px;
    fill: #fff;
    transition: fill 0.3s ease-in-out;
    &:hover{
      fill: var(--color-TuftsBlue);
    }
  }
}

