.article{

  &__title{
    margin: 0;
    padding: 0;
    font-family: PTSans-Bold,sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #171717;
    transition: color .3s ease-in-out;

    &:hover{
      color: var(--color-TuftsBlue);
    }

  }
}


.article-hero{
  position: relative;
  padding-bottom: 80px;

  &__main{

    &--grid{
      gap: 114px;

      @include big-tablet{
        gap : 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

    &__item{
      &:not(:last-child){
        margin-bottom: 84px;
      }
      &:last-child{
        margin-bottom: 200px;
        display: none;

        @include big-tablet{
          display: block;
          margin-bottom: 80px;
        }
      }
    }
    &__list{
      grid-column: 8 span;

      @include tablet{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }


    }
    &__right{
      grid-column: 3 span;
    }

    &__img{
      border-radius: 5px;
    }

    &__title{
      color: #171717;
      margin-bottom: 15px;
      font-size: 25px;
      font-weight: 700;
      line-height: 28px;

      @include small-tablet{
        font-size: 24px;
      }
      @include mobile{
        font-size: 18px;
      }
    }
    &__author{
      font-size: 18px;
      line-height: 23px;
    }
    &__top{
      margin-bottom: 14px;
      color: #666666;
      font-family: 'PTSans-Italic',sans-serif;
      font-size: 14px;
      line-height: 18px
    }
    &__description{
      position: absolute;
      bottom: -34px;
      left: 17px;
      z-index: 10;
      max-width: 730px;
      padding: 28px 86px 37px 32px;;
      background: #FFFFFF;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      font-size: 14px;
      line-height: 24px;

      @include big-mobile{
        left: 0;
        padding: 20px 86px 18px 20px;
      }


    }

    &__subtitle{
      @include small-tablet{
        display: none;
      }
    }


    &__category{
      margin-bottom: 19px;
    }
}


.article-right{

  @include big-tablet{
    // grid-column: 10 span;
    // display: grid;
    // grid-template-columns: repeat(10, 1fr);
    // gap: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  &__img{
      border-radius: 5px;
      margin-bottom: 20px;

  }

  &__blog{
    margin-bottom: 60px;
    @include big-tablet{
      grid-column: 4 span;
      text-align: center;
      max-width: 500px


    }

    @include mobile{
      grid-column: 12 span;
    }
  }

  &__author{
    margin-bottom: 8px;
  }

  &__top{
    color: #999999;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 14px;
  }

  &__text{
    margin-bottom: 14px;
  }

  &__popular{
    @include big-tablet{
      grid-column: 10 span;
    }
  }


}
.article-popular{


  &__item{
    &:not(:last-child){
      margin-bottom: 39px;
    }
  }
  &__list{
    margin-bottom: 59px;
    @include big-tablet{
      display: flex;
      grid-gap: 20px;
      justify-content: center;
    }

    @include mobile{
      flex-wrap: wrap;
    }



  }


  &__img{
    border-radius: 5px;
  }

  &__title{
    margin-bottom: 23px;
    @include big-tablet{
      text-align: center;
    }
  }

  &__item{
    position: relative;
  }

  &__category{
    position: absolute;
    left: 20px;
    top: 20px;
  }

  &__subtitle{
    margin-bottom: 10px;
    @include small-tablet{
      font-size: 16px;
      max-width: 290px;
    }
  }

  &__top{
    margin: 0;
  }
}

.article-right{


  @include tablet {
    grid-column: 10 span
  }
}


.article-instagram{
  margin-bottom: 60px;
  @include big-tablet{
    grid-column: 10 span;
    max-width: 500px;
  }

  &__title{
    margin-bottom: 25px;
    @include big-tablet{
      text-align: center;
    }
  }

  &__list{
  gap: 10px;
  margin-bottom: 10px;
  @include big-tablet{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  }

  &__item{
    grid-column: 6 span;
    transition: transform 1s ease-in-out;
    &:hover{
      transform: scale(1.1);
    }
  }

  &__icon{
    position: absolute;
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    fill: #fff;
    transition:  fill 0.3s ease-in-out;
  }
}

.article-tags{
  margin-bottom: 94px;
  max-width: 500px;

  @include big-tablet{
    grid-column: 10 span;
  }


  &__title{

    margin-bottom: 26px;
    @include big-tablet{
      text-align: center;
    }
  }

  &__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
  }

  &__item{
    margin-bottom: 20px;
    margin-right: 5px;


    }

    &__link{
      font-size: 14px;
      transition: color 0.3s ease-in-out;
      padding: 10px 5px;
      background-color: #EBEBEB;
      border-radius: 3px;

      &:hover{
       color: var(--color-TuftsBlue);
      }


    }
}

.article-form{
  @include big-tablet{
    grid-column: 10 span;
  }


  &__title{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "PTSans-Bold",sans-serif;
    margin-bottom: 11px;
    @include big-tablet{
     text-align: center;
    }
  }

  &__description{
    padding: 0;
    margin: 0;
    color: #666666;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 27px;
    @include big-tablet{
      text-align: center;
     }
  }
}

.article-pagination{



  &__list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    @include big-tablet{
      display: none;
       }


  }

  &__item{
    padding: 16px 18px;
    border-radius: 3px;
    border: 1px solid #E5E5E5;
    position: relative;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    @media (max-width: 400px){
      padding: 12px 16px;
    }

    &:nth-child(4){
      display: none;
    }

    &:nth-child(2){
      background-color: #000 ;
      color: #fff;
    }

    &:nth-child(6){
      display: none;
    }

    &:not(:nth-child(2)){
      &:hover{
        background-color: #000;
      }
    }


  }

  &__link{
    font-size: 16px;
    line-height: 16px;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &:hover{

      color: #fff;

    }
    @media (max-width: 400px){
      font-size: 12px;
    }



  }

  &__icon{

    width: 4px;
    height: 8px;
  }


}
.article-pag__list{
  display: none;
  @include big-tablet{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  @include mobile{
    justify-content: center;
  }

}

