.section-article{
  padding-top: 30px;
  padding-bottom: 75px;

  &__item{

    grid-column: 4 span;
    grid-row: 2 span;
    @include big-tablet{
      grid-column: 3 span;
    }
    @include tablet{
      grid-column: 4 span;
    }

    @include small-tablet{
      grid-column: 5 span;


    }

    @include big-mobile{
     display: flex;
     justify-content: center;
    }



    &:first-child{

      grid-column: 4 span;
      grid-row: 4 span;

      @include big-tablet{
        grid-column: 3 span;
      }
      @include tablet{
        grid-column: 4 span;
      }

      @include small-tablet{
        grid-column: 5 span;

      }

      @include big-mobile{
        grid-column: 7 span;
      }
      @include mobile{
        grid-column: 8 span;
      }


      .article-meta{
        padding: 0px 30px 32px 20px;


        &__title{
          font-size: 26px;
          font-weight: 700;
          line-height: 36px;
        }

        @include tablet{
          padding: 0px 42px 32px 20px;
        }
      }
    }
  }
  &__list{
   @include tablet{
    grid-template-columns: repeat(10,1fr);
   }

   @include small-tablet{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

   }


  }
}

.news-article{
  position: relative;


  &__img{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      border-radius: 5px;
      bottom: 4px;
      left: 0;
      width: 100%;
      height: 50%; /* Высота затемнения */
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
      pointer-events: none;
    }

    img{
      border-radius: 5px;
    }



  }

  &__category{
    position: absolute;
    left: 20px;
    top: 27px;
  }

  &__description{
    position: absolute;
    bottom: 0;
    left: 0;

  }
}

.news-meta{

  &__title{

    @include small-tablet{
      font-size: 16px;
    }
  }
}

