<section class="article-hero">
  <div class="container article-hero__container ">
    <div class="article-hero__main grid article-hero__main--grid">

      <ul class="article-hero__list list-reset">
        <li class="article-hero__item">
          <article class="article-hero article">
            <img src="./assets/img/article-hero-main-1.jpg" alt="article-img" class="article-hero__img">
            <div class="article-hero__description ">
               <a class="article-hero__category category" href="#">Vehicle</a>
              <h2 class="article-hero__title article__title"><a href="#">One of Saturn’s largest rings may be newer than anyone</a></h2>
              <div class="article__top article-hero__top">
                <span class="article__author">Rickie Baroch</span>
                <time class="article__time" datetime="2019-06-06 20:00">June 6, 2019</time>
              </div>
              <p class="article__description article-hero__subtitle">Sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem</p>
            </div>
          </article>
        </li>
        <li class="article-hero__item">
          <article class="article-hero article">
            <img src="./assets/img/article-hero-main-2.jpg" alt="article-img" class="article-hero__img">
            <div class="article-hero__description">
               <a class="article-hero__category category" href="#">Vehicle</a>
              <h2 class="article-hero__title article__title"><a href="#">One of Saturn’s largest rings may be newer than anyone</a></h2>
              <div class="article__top article-hero__top">
                <span class="article__author">Rickie Baroch</span>
                <time class="article__time" datetime="2019-06-06 20:00">June 6, 2019</time>
              </div>
              <p class="article__description article-hero__subtitle">Sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem</p>
            </div>
          </article>
        </li>
        <li class="article-hero__item">
          <article class="article-hero article">
            <img src="./assets/img/article-hero-main-3.jpg" alt="article-img" class="article-hero__img">
            <div class="article-hero__description">
               <a class="article-hero__category category" href="#">Vehicle</a>
              <h2 class="article-hero__title article__title"><a href="#">One of Saturn’s largest rings may be newer than anyone</a></h2>
              <div class="article__top article-hero__top">
                <span class="article__author">Rickie Baroch</span>
                <time class="article__time" datetime="2019-06-06 20:00">June 6, 2019</time>
              </div>
              <p class="article__description article-hero__subtitle">Sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem</p>
            </div>
          </article>
        </li>
        <li class="article-hero__item">
          <article class="article-hero article">
            <img src="./assets/img/article-hero-main-4.jpg" alt="article-img" class="article-hero__img">
            <div class="article-hero__description">
               <a class="article-hero__category category" href="#">Vehicle</a>
              <h2 class="article-hero__title article__title"><a href="#">One of Saturn’s largest rings may be newer than anyone</a></h2>
              <div class="article__top article-hero__top">
                <span class="article__author">Rickie Baroch</span>
                <time class="article__time" datetime="2019-06-06 20:00">June 6, 2019</time>
              </div>
              <p class="article__description article-hero__subtitle">Sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem</p>
            </div>
          </article>
        </li>
        <li class="article-hero__item">
          <article class="article-hero article">
            <img src="./assets/img/article-hero-main-5.jpg" alt="article-img" class="article-hero__img">
            <div class="article-hero__description">
               <a class="article-hero__category category" href="#">Vehicle</a>
              <h2 class="article-hero__title article__title"><a href="#">One of Saturn’s largest rings may be newer than anyone</a></h2>
              <div class="article__top article-hero__top">
                <span class="article__author">Rickie Baroch</span>
                <time class="article__time" datetime="2019-06-06 20:00">June 6, 2019</time>
              </div>
              <p class="article__description article-hero__subtitle">Sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem</p>
            </div>
          </article>
        </li>
        <li class="article-hero__item article-pagination article-pag">
          <ul class="article-pag__list list-reset article-pagination__list">
            <li class="article-pagination__item">
              <a href="#" class="article-pagination__link">
                <svg class="article-pagination__icon">
                  <use xlink:href="./assets/img/sprite.svg#arrow_left"></use>
                  </svg>
              </a>
            </li>
            <li class="article-pagination__item"><a href="#" class="article-pagination__link">1</a></li>
            <li class="article-pagination__item"><a href="#" class="article-pagination__link">2</a></li>
            <li class="article-pagination__item"><a href="#" class="article-pagination__link">3</a></li>
            <li class="article-pagination__item"><a href="#" class="article-pagination__link">...</a></li>
            <li class="article-pagination__item"><a href="#" class="article-pagination__link">8</a></li>
            <li class="article-pagination__item">
              <a href="#" class="article-pagination__link">
                <svg class="article-pagination__icon">
                  <use xlink:href="./assets/img/sprite.svg#arrow_right"></use>
                  </svg>
              </a>
            </li>
          </ul>
        </li>

      </ul>

      <div class="article-hero__right article-right article">
          <div class="article-right__blog">
            <img src="./assets/img/article-right-img.jpg" alt="article-img" class="article-right__img">
            <div class="article-right__description">
              <h2 class="article__title article-right__author"><a href="#">Leon Hunt</a></h2>
              <div class="article__top article-right__top">
                <span class="article__author article-right__category">Food</span>
                <span class="article__position article-right__position">cooking-bloger</span>
              </div>
              <p class="article__description article-right__text">
                Hi, I&rsquo;m Leon. Cooking is&nbsp;the way&nbsp;I express my&nbsp;creative side to&nbsp;the world. Welcome to&nbsp;my&nbsp;Kitchen Corner&nbsp;on...
              </p>
            </div>
            <a href="#" class="button button-main button-reset">Continue Reading</a>
          </div>
          <div class="article-right__popular article-popular">
            <h2 class="article-popular__title article__title">Popular posts</h2>
            <ul class="article-popular__list list-reset">
              <li class="article-popular__item">
                <img src="./assets/img/article-popuar-1.jpg" alt="" class="article-popular__img">
                <h2 class="article-popular__subtitle article__title"><a href="#">One of&nbsp;Saturn&rsquo;s largest rings may be&nbsp;newer than anyone</a></h2>
              <a class="article-popular__category category" href="#">Vehicle</a>
                <div class="article__top article-right__top article-popular__top">
                  <span class="article__author">Rickie Baroch</span>
                  <time class="article__time" datetime="2019-06-06 20:00">June 6, 2019</time>
                </div>
              </li>
              <li class="article-popular__item">
                <img src="./assets/img/article-popuar-2.jpg" alt="" class="article-popular__img">
                <h2 class="article-popular__subtitle article__title"><a href="#">One of&nbsp;Saturn&rsquo;s largest rings may be&nbsp;newer than anyone</a></h2>
              <a class="article-popular__category category" href="#">Vehicle</a>
                <div class="article__top article-right__top article-popular__top">
                  <span class="article__author">Rickie Baroch</span>
                  <time class="article__time" datetime="2019-06-06 20:00">June 6, 2019</time>
                </div>
              </li>
              <li class="article-popular__item">
                <img src="./assets/img/article-popuar-3.jpg" alt="" class="article-popular__img">
                <h2 class="article-popular__subtitle article__title"><a href="#">One of&nbsp;Saturn&rsquo;s largest rings may be&nbsp;newer than anyone</a></h2>
              <a class="article-popular__category category" href="#">Vehicle</a>
                <div class="article__top article-right__top article-popular__top">
                  <span class="article__author">Rickie Baroch</span>
                  <time class="article__time" datetime="2019-06-06 20:00">June 6, 2019</time>
                </div>
              </li>
            </ul>
          </div>
        <div class="article-right__instagram article-instagram">
          <h2 class="article-instagram__title article__title">Instagram</h2>
          <ul class="article-instagram__list list-reset grid">
            <li class="article-instagram__item">
              <a href="#"><img src="./assets/img/foto-ins-1.jpg" alt="Instagram img" class="article-instagram__img"></a>
            </li>
            <li class="article-instagram__item">
              <a href="#"><img src="./assets/img/foto-ins-2.jpg" alt="Instagram img" class="article-instagram__img"></a>
            </li>
            <li class="article-instagram__item">
              <a href="#"><img src="./assets/img/foto-ins-3.jpg" alt="Instagram img" class="article-instagram__img"></a>
            </li>
            <li class="article-instagram__item">
              <a href="#"><img src="./assets/img/foto-ins-4.jpg" alt="Instagram img" class="article-instagram__img"></a>
            </li>
            <li class="article-instagram__item">
              <a href="#"><img src="./assets/img/foto-ins-5.jpg" alt="Instagram img" class="article-instagram__img"></a>
            </li>
            <li class="article-instagram__item">
              <a href="#"><img src="./assets/img/foto-ins-6.jpg" alt="Instagram img" class="article-instagram__img"></a>
            </li>
          </ul>
          <a href="#" class="button-main button button-reset button-main--instagram">
            <svg class="article-instagram__icon">
            <use xlink:href="assets/img/sprite.svg#instagram"></use>
            </svg>View instagram</a>
        </div>
        <div class="article-right__tags article-tags">
          <h2 class="article-tags__title article__title">Tags</h2>
          <ul class="article-tags__list list-reset">
           <li class="article-tags__item"><a href="#" class="article-tags__link">Business</a></li>
           <li class="article-tags__item"><a href="#" class="article-tags__link">Freelance</a></li>
           <li class="article-tags__item"><a href="#" class="article-tags__link">Money</a></li>
           <li class="article-tags__item"><a href="#" class="article-tags__link">Experience</a></li>
           <li class="article-tags__item"><a href="#" class="article-tags__link">Lifestyle</a></li>
           <li class="article-tags__item"><a href="#" class="article-tags__link">SEO</a></li>
           <li class="article-tags__item"><a href="#" class="article-tags__link">Wordpress</a></li>
           <li class="article-tags__item"><a href="#" class="article-tags__link">Marketing</a></li>
           <li class="article-tags__item"><a href="#" class="article-tags__link">UX</a></li>
           <li class="article-tags__item"><a href="#" class="article-tags__link">Modern</a></li>
           <li class="article-tags__item"><a href="#" class="article-tags__link">Success</a></li>
           <li class="article-tags__item"><a href="#" class="article-tags__link">Nature</a></li>
           <li class="article-tags__item"><a href="#" class="article-tags__link">Productivity</a></li>
           <li class="article-tags__item"><a href="#" class="article-tags__link">Sales page</a></li>
           <li class="article-tags__item"><a href="#" class="article-tags__link">Sell</a></li>
           <li class="article-tags__item"><a href="#" class="article-tags__link">Teamwork</a></li>
           <li class="article-tags__item"><a href="#" class="article-tags__link">Monetize</a></li>
          </ul>
        </div>
        <form action="/" class="article-form form">
          <h2 class="article-form__title">Email newsletter</h2>
          <p class="article-form__description">Sign up to receive email updates and to hear what's going on.</p>
          <label class="form-field article-form__field">
            <input type="text" class="article-form__input form-field__input" placeholder="Your name" required>
          </label>
          <label class="form-field article-form__field">
            <input type="text" class="article-form__input form-field__input" placeholder="Your email adress" required>
          </label>
          <button type="submit" class="button button-main button-reset form-button">Subscribe to newsletter</button>
        </form>
      </div>
    </div>
    <div class="article-pagination">
    <ul class="article-pagination__list list-reset">
      <li class="article-pagination__item">
        <a href="#" class="article-pagination__link">
          <svg class="article-pagination__icon">
            <use xlink:href="assets/img/sprite.svg#arrow_left"></use>
            </svg>
        </a>
      </li>
      <li class="article-pagination__item"><a href="#" class="article-pagination__link">1</a></li>
      <li class="article-pagination__item"><a href="#" class="article-pagination__link">2</a></li>
      <li class="article-pagination__item"><a href="#" class="article-pagination__link">3</a></li>
      <li class="article-pagination__item"><a href="#" class="article-pagination__link">...</a></li>
      <li class="article-pagination__item"><a href="#" class="article-pagination__link">8</a></li>
      <li class="article-pagination__item">
        <a href="#" class="article-pagination__link">
          <svg class="article-pagination__icon">
            <use xlink:href="assets/img/sprite.svg#arrow_right"></use>
            </svg>
        </a>
      </li>
    </ul>
  </div>
  </div>
</section>
