<footer class="footer">
  <div class="container footer__container">
    <div class="footer__content">
      <div class="footer__left">
        <a href="" class="footer__logo">
          <svg class="logo">
          <use xlink:href="./assets/img/sprite.svg#Logo"></use>
          </svg>
        </a>
        <p class="footer__text">Short description about the company Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <div class="footer-social__block">
          <h3 class="footer-social__title footer__title">Keep in touch</h3>
          <ul class="list-reset footer-social__list social__list">
            <li class="footer-social__item social__item">
              <a href="#" class="social__link">
                <svg class="social__icon">
                <use xlink:href="./assets/img/sprite.svg#facebook-icon"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social__item social__item">
              <a href="#" class="social__link">
                <svg class="social__icon">
                <use xlink:href="./assets/img/sprite.svg#twitter-icon"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social__item social__item">
              <a href="#" class="social__link">
                <svg class="social__icon">
                <use xlink:href="./assets/img/sprite.svg#pinterest-icon"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social__item social__item">
              <a href="#" class="social__link">
                <svg class="social__icon">
                <use xlink:href="./assets/img/sprite.svg#google_plus-icon"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social__item social__item">
              <a href="#" class="social__link">
                <svg class="social__icon">
                <use xlink:href="./assets/img/sprite.svg#instagram-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div class="footer__center">
        <h3 class="footer__title"></h3>
        <ul class="list-reset footer-post__list">
          <li class="footer-post__item">
            <img src="./assets/img/recent-post-1.jpg" alt="Recent post" class="footer-post__img">
            <div class="footer-post__description">
              <h3 class="footer-post__title article-meta__title"><a href="#">One of Saturn’s largest rings may be newer than…</a></h3>
              <div class="article-meta__top article-hero__top">
                <span class="article-meta__author">Rickie Baroch</span>
                <time class="article-meta__time" datetime="2019-06-06 20:00">June 6, 2019</time>
              </div>
            </div>
          </li>
          <li class="footer-post__item">
            <img src="./assets/img/recent-post-2.jpg" alt="Recent post" class="footer-post__img">
            <div class="footer-post__description">
              <h3 class="footer-post__title article-meta__title"><a href="#">One of Saturn’s largest rings may be newer than…</a></h3>
              <div class="article-meta__top article-hero__top">
                <span class="article-meta__author">Rickie Baroch</span>
                <time class="article-meta__time" datetime="2019-06-06 20:00">June 6, 2019</time>
              </div>
            </div>
          </li>
          <li class="footer-post__item">
            <img src="./assets/img/recent-post-3.jpg" alt="Recent post" class="footer-post__img">
            <div class="footer-post__description">
              <h3 class="footer-post__title article-meta__title"><a href="#">One of Saturn’s largest rings may be newer than…</a></h3>
              <div class="article-meta__top article-hero__top">
                <span class="article-meta__author">Rickie Baroch</span>
                <time class="article-meta__time" datetime="2019-06-06 20:00">June 6, 2019</time>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="footer__right">
        <form action="/" method="post" class="form">
          <h3 class="form__title">Newsletter</h3>
          <label class="form-field article-form__field">
            <input type="text" class="article-form__input form-field__input form-field__input--dark" placeholder="Your name" required>
          </label>
          <label class="form-field article-form__field">
            <input type="text" class="article-form_input form-field__input form-field__input--dark" placeholder="Your email adress" required>
          </label>
          <button type="submit" class="button button-main button-reset form-button">Subscribe to newsletter</button>
        </form>
      </div>
    </div>
    <div class="footer__bottom">
      <small class="footer__copyright">&copy;&nbsp;2019 Logwork. All Right Reserved.</small>
      <nav class="nav-main footer__nav">
        <ul class="footer__list nav-main__list list-reset">
          <li class="footer__item nav-main__item">
            <a href="#" class="nav-main__link footer__link">Home</a>
          </li>
          <li class="footer__item nav-main__item">
            <a href="#" class="nav-main__link footer__link">Recipes</a>
          </li>
          <li class="footer__item nav-main__item">
            <a href="#" class="nav-main__link footer__link">Article</a>
          </li>
          <li class="footer__item nav-main__item">
            <a href="#" class="nav-main__link footer__link">Contact</a>
          </li>
          <li class="footer__item nav-main__item">
            <a href="#" class="nav-main__link footer__link">Purchase</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</footer>

<div class="overlay"></div>
