<header class="header">
  <div class="container header__container">
    <a class="header__logo" href="#">
      <svg class="logo">
      <use xlink:href="./assets/img/sprite.svg#Logo"></use>
      </svg>
    </a>
    <nav class="nav-main header__nav">
      <ul class="header__list nav-main__list list-reset">
        <li class="header__item nav-main__item">
          <a href="#" class="nav-main__link header__link">Home</a>
        </li>
        <li class="header__item nav-main__item">
          <a href="#" class="nav-main__link header__link">Recipes</a>
        </li>
        <li class="header__item nav-main__item">
          <a href="#" class="nav-main__link header__link">Article</a>
        </li>
        <li class="header__item nav-main__item">
          <a href="#" class="nav-main__link header__link">Contact</a>
        </li>
        <li class="header__item nav-main__item">
          <a href="#" class="nav-main__link header__link">Purchase</a>
        </li>
      </ul>
    </nav>
    <div class="header-search">
      <button class="button header-search__button button-reset ">
        <svg class="header-search__icon">
        <use xlink:href="./assets/img/sprite.svg#search"></use>
        </svg>
      </button>
    </div>

    <button class="header__burger button button-reset" aria-label="Open menu" aria-expanded="false">
      <span></span><span></span><span></span>
    </button>
  </div>
</header>
