<section class="section-article">
  <div class="container section-article__container">
      <ul class="section-article__list list-reset grid">
        <li class="section-article__item">
            <article class="news-article">
              <div class="news-article__img">
                <img src="./assets/img/Bitmap.jpg" alt="article-img" >
              </div>
              <div class="news-article__category category">
                <span class="category__text"><a href="#">Vehicle</a></span>
              </div>

              <div class="news-article__description">
                <div class="news-article__meta article-meta">
                  <div class="article-meta__top">
                    <span class="article-meta__author">Rickie Baroch</span>
                    <time class="article-meta__time" datetime="2019-06-06 20:00">June 6, 2019</time>
                  </div>
                  <h2 class="article-meta__title news-meta__title"><a href="#">One of Saturn’s largest rings may be newer than anyone</a></h2>
                </div>
              </div>
            </article>
        </li>
        <li class="section-article__item">

          <article class="news-article" ">
            <div class="news-article__img">
              <img src="./assets/img/Bitmap-2.jpg" alt="article-img">
            </div>
            <div class="news-article__category category">
              <span class="category__text"><a href="#">Vehicle</a></span>
            </div>
            <div class="news-article__description">
              <div class="news-article__meta article-meta">
                <div class="article-meta__top">
                  <span class="article-meta__author">Rickie Baroch</span>
                  <time class="article-meta__time" datetime="2019-06-06 20:00">June 6, 2019</time>
                </div>
                <h2 class="article-meta__title news-meta__title"><a href="#">One of Saturn’s largest rings may be newer than anyone</a></h2>
              </div>
            </div>
          </article>
        </li>
        <li class="section-article__item">

          <article class="news-article">
            <div class="news-article__img">
              <img src="./assets/img/Bitmap-3.jpg" alt="article-img">
            </div>
            <div class="news-article__category category">
              <span class="category__text"><a href="#">Vehicle</a></span>
            </div>
            <div class="news-article__description">
              <div class="news-article__meta article-meta">
                <div class="article-meta__top">
                  <span class="article-meta__author">Rickie Baroch</span>
                  <time class="article-meta__time" datetime="2019-06-06 20:00">June 6, 2019</time>
                </div>
                <h2 class="article-meta__title news-meta__title"><a href="#">One of Saturn’s largest rings may be newer than anyone</a></h2>
              </div>
            </div>
          </article>
        </li>
        <li class="section-article__item">
          <article class="news-article">
            <div class="news-article__img">
              <img src="./assets/img/Bitmap-4.jpg" alt="article-img" >
            </div>

            <div class="news-article__category category">
              <span class="category__text"><a href="#">Vehicle</a></span>
            </div>
            <div class="news-article__description">
              <div class="news-article__meta article-meta">
                <div class="article-meta__top">
                  <span class="article-meta__author">Rickie Baroch</span>
                  <time class="article-meta__time" datetime="2019-06-06 20:00">June 6, 2019</time>
                </div>
                <h2 class="article-meta__title news-meta__title"><a href="#">One of Saturn’s largest rings may be newer than anyone</a></h2>
              </div>
            </div>

        </li>
        <li class="section-article__item">
          <article class="news-article">
            <div class="news-article__img">
              <img src="./assets/img/Bitmap-5.jpg" alt="article-img">
            </div>
            <div class="news-article__category category">
              <span class="category__text"><a href="#">Vehicle</a></span>
            </div>
            <div class="news-article__description">
              <div class="news-article__meta article-meta">
                <div class="article-meta__top">
                  <span class="article-meta__author">Rickie Baroch</span>
                  <time class="article-meta__time" datetime="2019-06-06 20:00">June 6, 2019</time>
                </div>
                <h2 class="article-meta__title news-meta__title"><a href="#">One of Saturn’s largest rings may be newer than anyone</a></h2>
              </div>
            </div>
          </article>
        </li>
  </div>
</section>
