<section class="most-popular">
  <div class="container most-popular__container">
    <h2 class="most-popular__title">Most popular</h2>
    <ul class="most-popular__list list-reset">
      <li class="most-popular__item">
        <img src="./assets/img/most-popular-1.jpg" alt="most-popular-img" class="most-popular__img">
    <a class="most-popular__category category" href="#">BMW</a>
        <div class="most-popular__description article-meta">
          <h2 class="most-popular__subtitle article-meta__title"><a href="#">One of Saturn’s largest rings may be newer than anyone</a></h2>
          <div class="article-meta__top">
            <span class="article-meta__author">Rickie Baroch</span>
            <time class="article-meta__time" datetime="2019-06-06 20:00">June 6, 2019</time>
          </div>
          </div>
      </li>
      <li class="most-popular__item">
        <img src="./assets/img/most-popular-2.jpg" alt="most-popular-img" class="most-popular__img">
    <a class="most-popular__category category" href="#">BMW</a>
        <div class="most-popular__description article-meta">
          <h2 class="most-popular__subtitle article-meta__title"><a href="#">One of Saturn’s largest rings may be newer than anyone</a></h2>
          <div class="article-meta__top">
            <span class="article-meta__author">Rickie Baroch</span>
            <time class="article-meta__time" datetime="2019-06-06 20:00">June 6, 2019</time>
          </div>
        </div>
      </li>
      <li class="most-popular__item">
        <img src="./assets/img/most-popular-3.jpg" alt="most-popular-img" class="most-popular__img">
    <a class="most-popular__category category" href="#">BMW</a>
        <div class="most-popular__description article-meta">
          <h2 class="most-popular__subtitle article-meta__title"><a href="#">One of Saturn’s largest rings may be newer than anyone</a></h2>
          <div class="article-meta__top">
            <span class="article-meta__author">Rickie Baroch</span>
            <time class="article-meta__time" datetime="2019-06-06 20:00">June 6, 2019</time>
          </div>
        </div>
      </li>
      <li class="most-popular__item">
        <img src="./assets/img/most-popular-4.jpg" alt="most-popular-img" class="most-popular__img">
    <a class="most-popular__category category" href="#">BMW</a>
        <div class="most-popular__description article-meta">
          <h2 class="most-popular__subtitle article-meta__title"><a href="#">One of Saturn’s largest rings may be newer than anyone</a></h2>
          <div class="article-meta__top">
            <span class="article-meta__author">Rickie Baroch</span>
            <time class="article-meta__time" datetime="2019-06-06 20:00">June 6, 2019</time>
          </div>
          </div>
      </li>
    </ul>
  </div>
</section>
